@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap');

/* General Settings */
* {
    --primary-color-green: #495E57;
    --primary-color-yellow: #F4CE14;
    --secondary-color-1: #EE9972;
    --secondary-color-2: #FBDABB;
    --highlight-color-1: #EDEFEE;
    --highlight-color-2: #333333;

}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}

h1, h2 {
    margin: 0;
    font-family: 'Markazi-Text', serif;
}

p {
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

@media screen and (max-width: 700px) {
    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    padding-inline-start: 0;
}

ul a {
    text-decoration: none;
    font-family: Karla;
    font-weight: 700;
    color: var(--primary-color-green);
}

ul a:hover {
    text-decoration: underline;
}


/* Footer */

footer {
    background-color: var(--primary-color-green);
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: var(--highlight-color-1);
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 700px) {
    footer .container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.social-media-icons {
    display: flex;
    gap: 2rem;
}



.social-media-icons a {
    text-decoration: none;
    color: var(--highlight-color-1);
}

footer h1 {
    font-size: 18px;
    line-height: 0.5rem;
}

footer p {
    font-size: 15px;
    line-height: 0.5rem;
}

.contact-info {
    text-align: center;
}




/* Hero Section */

.hero {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color-green);
}

.hero .container {
    padding: 2rem;
}

.hero-content {
    color: var(--highlight-color-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    margin: 2rem 0rem 2rem 0rem;

}

.hero-image {
    max-width: 400px;
    width: 100%;
    border-radius: 1rem;
}

.hero-cta {
    background-color: var(--highlight-color-2);
    width: 200px;
    padding: 0.8rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    color: var(--highlight-color-1);
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
    font-weight: 800;
}

.hero-cta:hover {
    background-color: var(--primary-color-yellow);
    color: var(--primary-color-green);
}

@media screen and (max-width: 700px) {
    .hero .container {
        flex-direction: column;
    }

    .hero-content {
        align-items: center;
    }

    .hero-image {
        margin-top: 1rem;
    }
}



/* Specials Section */

.specials {
    display: flex;
    justify-content: center;
    background-color: var(--highlight-color-1);
}

.specials .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.specials-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0 1.5rem 0;
}

.dish-image {
    width: 250px;
    height: 165px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.specials-card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.specials-card {
    max-width: 250px;
    background-color: var(--secondary-color-2);
    border-radius: 0.5rem;
    padding: 0;
    margin: auto;
}

.specials-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.specials-card-header h3 {
    margin: 0;
}

.specials-dish-price {
    color: var(--primary-color-green);
    font-weight: 700;
}

.specials-dish-description {
    padding: 1rem;
    font-size: 15px;
    margin: 0 0 1rem 0;
    font-family: 'Karla', serif;
}

.view-menu-button {
    background-color: var(--highlight-color-2);
    font-family: 'Karla';
    width: 150px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    color: var(--highlight-color-1);
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
    font-weight: 800;
}

.view-menu-button:hover {
    background-color: var(--primary-color-yellow);
    color: var(--primary-color-green);
}


/* Testimonials Section */

.testimonials {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color-green);
    color: var(--highlight-color-1);
    padding-bottom: 2rem;
}

.testimonials .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.testimonials-list {
    display: flex;
    width: 100%;
    margin: 0rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.testimonial-card {
    max-width: 150px;
    background-color: var(--highlight-color-1);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: auto;
    color: var(--highlight-color-2);
}

@media screen and (max-width: 700px) {
    .testimonials-list {
        align-items: stretch;
    }
    
    .testimonial-card {
        max-width: 120px;
    }
}

.testimonials h1 {
    margin: 1rem;
    font-size: 2rem;
}

.testimonials-list h2 {
    font-size: 1.2rem;
}

.testimonial-card img {
    border-radius: 50%;
    margin-top: 1rem;
}

.testimonial-stars {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.star-icon {
    color: var(--primary-color-yellow);
}

.testimonial-review {
    font-size: 1rem;
    font-style: italic;
}



/* About Section */

.home-about {
    background-color: var(--highlight-color-1);
    display: flex;
    justify-content: center;
}

.home-about .container {
    padding: 1rem;
    display: flex;
    width: 100%;
}

.about-content {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.about-content h1 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1rem;
}

.about-images {
    display: flex;
    gap: 1rem;
}

.about-images img {
    width: 200px;
}

.img-mario-adrian {
    object-fit: cover;
    object-position: 80%;
}

@media screen and (max-width: 700px) {
    .home-about .container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-images img {
        width: 160px;
    }
}



/* Reservation Page */

.reservation-page {
    display: flex;
    justify-content: center;
}

.reservation-page .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.field-group {
    display: flex;
    width: 100%;
    height: 2rem;
    align-items: center;
}

label {
    flex: 2;
    text-align: left;
}

input, select {
    flex: 2;
    height: 2rem;
    font-size: 1rem;
}

.reservation-button {
    background-color: var(--primary-color-green);
    color: var(--highlight-color-1);
    border: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem;
    cursor: pointer;
    transition: 0.5s;
}

.reservation-button:hover {
    background-color: var(--primary-color-yellow);
    color: var(--highlight-color-2);
}

.error-message {
    color: var(--secondary-color-1);
    height: 30px;
}

@media screen and (max-width: 700px) {
    form {
        max-width: 300px;
    }

    .field-group {
        display: flex;
        flex-direction: column;
        height: 4rem;
    }
}






